.main-wrapper {
	display: grid;
	margin-top: 1.2rem;
	grid-template-columns: 1fr minmax(10rem, 90rem) 1fr;
}

main {
	margin: 0 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: 1fr 1fr 1.2fr;
	grid-template-rows: 1fr;
	grid-template-areas: "video video aside" "section section aside";
}

.main__video {
	grid-area: video;
	border-bottom: 1px solid lightgray;
	padding-bottom: 1rem;
}

.main__video-container {
	position: relative;
	padding-bottom: 52%;
	/*16:9*/
	padding-top: 30px;
	overflow: hidden;
	/* margin-left: 16px; */
}
.main__video-container .frame-right {
	position: absolute;
    width: 16px;
    height: calc(105% - 16px);
    z-index: 1000;
	background: var(--bs-gray-100);
	right: 0;
    top: 0;
}
.main__video-container .frame-bottom {
	position: absolute;
    width: 100%;
    height: 26px;
	background: var(--bs-gray-100);
    z-index: 1000;
	bottom: calc(-10% + 26px);
}
.main__video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.main__video-container object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main__description p:last-of-type {
	font-size: .8rem;
	/* background-color: var(--bs-gray-700); */
	color: #f0284e;
	/* border-radius: 4px; */
	/* border: 1px solid var(--bs-gray-300); */
	/* padding: .2rem .8rem; */
	/* text-shadow: 0 0 .2em #f0284e; */
}

.main__description {
	margin: 1rem;
}

.main__sub-description {
	border-top: 1px solid lightgray;
	padding: 1rem .8rem;
}
.main__sub-description .summary {
	padding: 1.2rem .8rem .0rem .8rem;
}
.main__sub-description .summary .summary-wrap {
	font-size: .8rem;
	margin-bottom: 2rem;
}
.main__sub-description .summary .summary-wrap .summary-count {
	color: var(--bs-gray-600);
}
.main__sub-description .summary .col .icon-square {
    font-size: 1.4rem;
    background-color: var(--bs-gray-200);
    padding: 0.4rem 0.6rem;
    border-radius: 20%;
}
.main__sub-description .summary .summary-list {
	width: 100%;
    font-size: .9rem;
}
.main__sub-description .summary .summary-list li {
	background: linear-gradient(135deg, rgba(173,181,189,1) .4rem, rgba(255,255,255,1) .4rem, rgba(255,255,255,1) 100%);
	background-repeat: no-repeat;
	cursor: pointer;
}
.main__sub-description .summary .summary-list .clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	font-size: .8rem;
	color: var(--bs-gray-600);
	padding-top: 2px;
}
.main__sub-description .summary .summary-list .desc {
	font-size: .8rem;
	color: var(--bs-gray-600);
	padding-top: 2px;
}
.main__sub-description .summary .summary-list li:hover {
	background: linear-gradient(135deg, rgba(173,181,189,1) .4rem, rgba(255,255,255,1) .4rem, var(--bs-gray-300) 100%);
	background-repeat: no-repeat;
}

.main__sub-description span.clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}


.btn-more-desc {
	height: 100%;
	transition: transform 0.3s ease-in-out !important;
}

.btn-more-desc.clicked {
	transform: rotate(180deg);
}

.main__more a {
	text-decoration: none;
	color: gray;
}

.under-shadow {
	box-shadow: 0 1px 6px 0px rgba(0,0,0,0.2);
}



aside {
	grid-area: aside;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	width: 100%;
}
.aside__top-container {
	margin: .4rem 0 .8rem 0;
}
.aside__top-container p {
	font-size: 0.97rem;
}
.aside__top-container a {
	text-decoration: none;
	color: gray;
	font-size: 0.75rem;
	font-weight: bold;
}
.aside__more {
	min-width: 2rem;
	width: 100%;
	background: #d3d3d3;
	color: #808080;
	font-size: 0.75rem;
	font-weight: bold;
	padding: 0.8rem;
	text-align: center;
	margin-top: 1rem;
}
.aside__more a {
	text-decoration: none;
	color: gray;
}



.news {
	width: 100%;
	background: #fff;
	list-style: none;
	padding: 0;
	padding: 1rem;
}
.news .news-item {
	margin-bottom: 1.4rem;
}

.news .news-item .news-title-wrap .news-title .new-string {
	color: var(--bs-danger);
}
.news .news-item .news-title-wrap .news-title a {
	font-size: 1rem;
	font-weight: bold;
	color: var(--bs-body-color);
}
.news .news-item .news-title-wrap .news-title .badge {
	padding: 0.3em 0.6em;
	margin-right: 0.4rem;
}

.news .news-item .news-title-wrap .news-title.clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.news .news-item .news-title-wrap .btn-more {
	transition: transform 0.3s ease-in-out !important;
}
.news .news-item .news-title-wrap .btn-more.clicked {
	transform: rotate(180deg);
}

.news .news-item .news-sub-wrap {
	font-size: .8rem;
	color: var(--bs-gray-600);
	margin: .2rem .4rem .4rem .4rem;
}
.news .news-item .news-sub-wrap .news-sms {
	font-size: .8rem;
	padding: 0 .4rem;
}
.news .news-item .news-sub-wrap .news-by i {
	color: var(--bs-gray-500);
	font-size: .8rem;
	align-items: center;
}



.news .news-item .news-content .news-thumnail {
	max-width: 32%;
	height: 5.4rem;
	border-radius: 4px;
	/* border: 1px solid var(--bs-gray-100); */
	background: var(--bs-gray-100);
	object-fit: contain;
}
.news .news-item .news-content .news-text-wrap {
	padding: 0 1rem;
}
.news .news-item .news-content .news-text-wrap .news-text {
	font-size: .9rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.news .news-item .news-content .news-text-wrap .pubdate {
	font-size: .8rem;
	color: var(--bs-gray-600);
}
.news .news-item .news-content .news-text-wrap .pubdate i {
	color: var(--bs-gray-500);
}




@media only screen and (max-width: 1000px) {
	main {
		margin: 0 1rem;
		display: grid;
		grid-gap: 1.5rem;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "video" "aside";
	}
	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.row-cols-lg-2>* {
		flex: 0 0 auto;
		width: 50%;
	}
}

@media only screen and (max-width: 520px) {
	main {
		margin: 0;
		padding-bottom: 2.4rem;
	}
	aside {
		width: 94%;
	}
	.main__sub-description {
		padding: 1rem 1.6rem;
	}
	.news .news-item .news-thumnail {
		max-width: 40%;
	}
	.row-cols-lg-2>* {
		flex: 0 0 auto;
		width: 100%;
	}
}

